.product_showcase { margin-top: 2rem; }
.product_showcase_link { text-decoration: none; }
.product_image { margin-left: 1rem; }
.product_showcase:hover { background-color: rgb(250, 250, 250); }
.product_price { font-weight: bold; }

.reviewIcon {
    position: relative;
    top: .2rem;
}

@media (max-width: 900px) {
    .product_showcase_container {
        text-align: center;
    }
}