.productlist_title { text-align: center; }
.productlist_loader_container {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.productlist_pagination {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}